body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #87cefa;
}

canvas {
  border: 2px solid black;
}

#gameCanvas {
  background-color: #87cefa;
}
